<html>
    <head>
        <style>

        </style>
    </head>

    <body>
        <div class="message">
            Hi {{ recipientName }}!

            {{ senderName }} has sent you a friend request. Accept the friend request on the Wall of Shame app today.

            <button class="accept-button">Go to the Wall of Shame</button>
        </div>

        <div class="footer">
            <p>Send by the team behind the <a href="https://www.wallofshame.io/">Wall Of Shame</a></p>
        </div>
    </body>
</html>